<html>
<head>
    <title>Advertisement</title>
</head>
<body id="{{dapId}}" leftmargin="0" topmargin="0" style="background-color: transparent">
    <script type="text/javascript">var inDapIF = true; var inDapMgrIf = true; </script>
    <script type="text/javascript" src="{{url}}"></script>
</body>
</html>
